---
layout: base
permalink: /destinations/
title: Destinations
---
<div class="destinations-heading">
	<i class="fa fa-picture-o" aria-hidden="true"></i>
	<span class="destinations-title">Destinations</span>
</div>
<div class="destinations-hero">
	<img class="destinations-hero-image" src="{{ site.staticfiles | prepend: site.baseurl}}/img/destinations.jpg"/>
</div>
<div class="india-tours">
	<span class="india-tours-title">India Tours</span>
	<span class="india-tours-subtitle">Explore India passionately! Well-being of students assured, lowest rates, guaranteed services</span>
</div>
<div class="destinations-categories">
	{% for destination in site.collections %}
		{% unless destination.label == 'posts' %}
			{% capture label %}{{ destination.label | slugify }}{% endcapture %}
			<div class="destination-card">
					<div class="destination-card-picture-parent">
						<div class="destination-card-picture" style="background-image: url('{{ site.staticfiles | prepend: site.baseurl }}/img/categories/{{ destination.image }}');">
							<a href="{{ site.baseurl }}/destinations/{{ destination.label }}">{{ destination.label | replace: '-', ' ' | capitalize }}</a>
						</div>
					</div>
				<div class="destination-card-places">
					<ul class="destination-card-places-list">
						{% for place in destination.docs limit:4 %}
						{% capture title %}{{ place.title | slugify }}{% endcapture %}
							{% unless label contains title or title contains label %}
								<li><a href="{{ place.url | prepend: site.baseurl }}">{{ place.title | capitalize }}</a></li>
							{% endunless %}
						{% endfor %}
						<li><a href="{{ site.baseurl }}/destinations/{{ destination.label }}">more...</a></li>
					</ul>
				</div>
			</div>
		{% endunless %}
	{% endfor %}
</div>