<div class="footer">
	
	<div class="footer-heading">
		CONTACT US
	</div>
	<div class="footer-info">
		<div class="footer-info-address">
		info@myemail.com / Address / Telephone
		</div>
		<div class="footer-info-social">
			Social info here
		</div>
	</div>
	<div class="footer-form">
		<form action="https://formspree.io/your@email.com" method="POST">
			<div class="footer-form-inputs">
				<input type="text" name="Name" id="footer-form-inputs-name" value="Name">
				<input type="email" name="Email" id="footer-form-inputs-email" value="Email">
				<input type="text" name="Subject" id="footer-form-inputs-subject" value="Subject">
				<textarea name="Message" id="footer-form-inputs-msg">Message</textarea>
			</div>
			<div class="footer-form-submit">
				<input type="submit" value="Send" id="footer-form-submit-button">
			</div>
		</form>
	</div>
</div>