<div class="footer">
	
	<div class="footer-heading">
		GET YOUR SCHOOL TRIP ORGANIZED BY US
	</div>
	<div class="footer-content">
		<div class="footer-info">
			<div class="footer-info-contact">
				<span>info@myemail.com</span>
				<span>Address </span>
				<span>Telephone</span>
			</div>
			<div class="footer-info-social">
				Social info here
			</div>
		</div>
		<div class="footer-form">
			<form action="https://formspree.io/abhishekchak52@gmail.com" method="POST" class="footer-form-form">
				<div class="form-input-table">
					<div class="footer-form-inputs">
						<input type="text" name="Name" class="footer-form-input" id="form-name" required />
						<label for="form-name">Name</label>
					</div>
					<div class="footer-form-inputs">
						<input type="text" name="Institution" class="footer-form-input" id="form-institution" required />
						<label for="form-institution">Name of Institution</label>
					</div>
					<div class="footer-form-inputs">
						<input type="text" name="Place" class="footer-form-input" id="form-place" required />
						<label for="form-place">Place</label>
					</div>
					<div class="footer-form-inputs">
						<input type="number" name="Number of Students" class="footer-form-input" id="form-students" required />
						<label for="form-students">No. of Students</label>
					</div>
					<div class="footer-form-inputs">
						<input type="date" name="Start Date" class="footer-form-input" id="form-startdate" />
						<label for="form-startdate">Start Date</label>
					</div>
					<div class="footer-form-inputs">
						<input type="date" name="End Date" class="footer-form-input" id="form-enddate" />
						<label for="form-enddate">End Date</label>
					</div>
					<div class="footer-form-inputs">
						<input type="tel" name="Contact Number" class="footer-form-input" id="form-contact" value="+91 "/>
						<label for="form-contact">Contact Number</label>
					</div>
					<div class="footer-form-inputs">
						<input type="email" name="Email" class="footer-form-input" id="form-email" required />
						<label for="form-email">Email ID</label>
					</div>
				</div>
		
				<div class="footer-form-submit">
					<button type="button" id="footer-form-submit-button">Get a Quote</button> 
				</div>
			</form>
		</div>
	</div>
</div>