<div class="hero">
	<div class="left">
		<div class="hero-social-icons">
			<span class="hero-social-icon"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
			<span class="hero-social-icon"><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></span>
			<span class="hero-social-icon"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
		</div>
		<div class="icon-slider">
			<div class="icon-slide"><img src="{{ site.staticfiles }}/img/SCHOOL_BUS.png" alt=""></div>
			<div class="icon-slide"><img src="{{ site.staticfiles }}/img/ICON_NOLA.png" alt=""></div>
			<div class="icon-slide"><img src="{{ site.staticfiles }}/img/paragliding_logo.png" alt=""></div>
			<div class="icon-slide"><img src="{{ site.staticfiles }}/img/hiking.png" alt=""></div>
			<div class="icon-slide"><img src="{{ site.staticfiles }}/img/five.png" alt=""></div>
		</div>
		
	</div>
	<div class="right">
		<div class="right-text">PREARRANGE YOUR SCHOOL TRIPS AND OUTINGS WITH REISE. MAKE MEMORIES WITH US.</div>
		<div class="right-text" id="fontchange" >COLLABORATION WITH US ALLOWS COMRADESHIP TO  HEIGHTEN FOR THE ZESTFUL YOUTH. CLINCH EXCITING DEALS AT REISE.</div>
		<div class="right-text" id="fontchange" >YEAR ROUND ASSISTANCE AND CONVENIENCES PROFFERED TO OUR ASSOCIATED INSTITUTIONS AT AFFORDABLE FIGURES.</div>
	</div>
</div>