<div class="home-offers">
	<div class="home-handpicked-offers">
		<div class="home-handpicked-offers-header">
			<i class="fa fa-clock-o handpicked-offers-icon" aria-hidden="true"></i>
			<span class="handpicked-offers-title">Handpicked Delights</span>
		</div>
		<div class="home-handpicked-offers-content">
			<ul class="handpicked-offers-list">
				<li class="handpicked-offer"><i class="fa fa-map-marker" aria-hidden="true"></i><a href="" class="handpicked-offer-link">Adventure at your school</a></li>
				<li class="handpicked-offer"><i class="fa fa-map-marker" aria-hidden="true"></i><a href="" class="handpicked-offer-link">Ice skating for kids</a></li>
				<li class="handpicked-offer"><i class="fa fa-map-marker" aria-hidden="true"></i><a href="" class="handpicked-offer-link">Sunny days-out at waterfront</a></li>
				<li class="handpicked-offer"><i class="fa fa-map-marker" aria-hidden="true"></i><a href="" class="handpicked-offer-link">Adventure days-out</a></li>
			</ul>
			<div class="handpicked-offers-more">
				<i class="fa fa-plus-circle" aria-hidden="true"></i><span class="handpicked-offers-details">Contact Us</span>
			</div>
		</div>
	</div>
	<div class="home-summer-destinations">
		<div class="home-summer-destinations-header">
			<i class="fa fa-sun-o summer-destinations-icon" aria-hidden="true"></i>
			<span class="summer-destinations-title">Irresistible Summer Delights</span>
		</div>
		<div class="home-summer-destinations-content">
			<div class="summer-destinations-top-four">
				<img src="{{ site.staticfiles | prepend: site.baseurl }}/img/top_four.png" alt=""/>
			</div>
			<div class="summer-destinations-list">
				<div class="summer-destination" style="background-image: url('{{ site.staticfiles | prepend: site.baseurl }}/img/locations/kasauli.jpg');">
					<a href="/destinations/seasoned-short-getaways/kasauli" class="summer-destination-link">
						Kasauli
					</a>
				</div>
				<div class="summer-destination" style="background-image: url('{{ site.staticfiles | prepend: site.baseurl }}/img/locations/shimla.jpg');">
					<a href="/destinations/seasoned-short-getaways/shimla" class="summer-destination-link">
						Shimla
					</a>
				</div>
				<div class="summer-destination" style="background-image: url('{{ site.staticfiles | prepend: site.baseurl }}/img/locations/manali.jpg');">
					<a href="/destinations/seasoned-short-getaways/manali" class="summer-destination-link">
						Manali
					</a>
				</div>
				<div class="summer-destination" style="background-image: url('{{ site.staticfiles | prepend: site.baseurl }}/img/locations/mcleodganj.jpg');">
					<a href="/destinations/lasting-leisure/mcleodganj-dharamshala" class="summer-destination-link">
						McLeodganj
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
