<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge; chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<!-- Document Title -->
<title>
	{% if page.title %} 
		{{ page.title }} |
	{% endif %} Reise
</title>

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/main.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="{{ site.baseurl }}/static/js/main.js" type="text/javascript" charset="utf-8" async defer></script>

<script src="https://use.fontawesome.com/4f37b3cd4b.js"></script>
				

<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/img/favicon/manifest.json">
<link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg" color="#009c9e">
<link rel="shortcut icon" href="/static/img/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#009c9e">
<meta name="msapplication-TileImage" content="/static/img/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#009c9e">				