<div class="services" id="services">
	<div class="services-heading">
		<i class="fa fa-universal-access" aria-hidden="true"></i>
		<span class="services-title">Our Services</span>
	</div>
	<div class="services-table">
		<div class="service">
			<span class="service-icon"><img src="{{ site.staticfiles | prepend: site.baseurl }}/img/SCHOOL_BUS.png"/></span>
			<span class="service-title">School Trips and Tours</span>
			<span class="service-description">Exhibiting our expertise, we uphold mastery in organizing trips and tours for school students. The services rendered are of fine quality ensuring comfortable journey, homely stopovers, pleasant stays and premier transportation.</span>
		</div>
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Exclusive excursions for the teaching fraternity</span>
			<span class="service-description">We have impeccable provision of exclusive excursions for Teachers. The organizing is sensitively inclusive of all the finest amenities and services that will result in unworried travel and sating stays.</span>
		</div>
		<div class="service" id="middle">
			<span class="service-icon"><img src="{{ site.staticfiles | prepend: site.baseurl }}/img/ICON_NOLA.png"></span>
			<span class="service-title">Comprehensive travelling solutions</span>
			<span class="service-description">We unfailingly provide absolute travel solutions encompassing each and every requisite like accommodation, travel and meals. We subsume all the necessities coupled with luxuries for our associations be it schools or institutions. At Reise we are mindful of extending our notable and reliable services round the year.</span>
		</div>
		<div class="service">
			<span class="service-icon"><img src="{{ site.staticfiles | prepend: site.baseurl }}/img/paragliding_logo.png"></span>
			<span class="service-title">Organizing enterprising and exciting adventure activities within the school premises</span>
			<span class="service-description">Arrangement for adventure infused afternoons at schools includes Valley crossing,  Flying fox, Jumaring, Climbing and Repelling. All events will be carried out under the proper and efficient guidance of an expert.</span>
		</div>
		<div class="service">
			<span class="service-icon"><img src="{{ site.staticfiles | prepend: site.baseurl }}/img/hiking.png"></span>
			<span class="service-title">Sorted expeditions for college folks</span>
			<span class="service-description">We engage in organizing enthralling expeditions for college goers and the spectrum of locales to choose from is appealing indeed. Provision of our exceptional services with top-grade facilities is an exemplar and we assure you of leisure filled and refreshing trips any time and many times.</span>
		</div>
	</div>	
</div>