<div class="services">
	<div class="services-title">Our Services</div>
	<div class="services-table">
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">School Trips and Tours</span>
			<span class="service-description">Exhibiting our expertise, we uphold mastery in organizing trips and tours for school students and the galore of choices to choose from is exceptionally sorted. The services rendered are of fine quality ensuring comfortable journey , homely stopovers ,pleasant stays and premier transportation. At Reise we cognize every aspect pertaining to travel and succeed in making your tours thoroughly interesting and enjoyable.</span>
		</div>
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Exclusive Excursions for the teaching fraternity</span>
			<span class="service-description">                      We triumph in arranging trips for students but we hold more concern for their lamp beholders. To lighten and brighten the lives of teachers in our own slight yet significant ways , we have impeccable provision of exclusive excursions for them. The organizing is sensitively inclusive of all the finest amenities and services that will result in unworried travel and sating stays. At Reise , we resort to extend superlative services that renders supreme and satisfying experience in your travel.</span>
		</div>
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Comprehensive travelling solutions</span>
			<span class="service-description">We unfailingly provide absolute travel solutions encompassing each and every requisite. Our support stretches to all our partnered institutions with regard to provision of services like accommodation , travel and meals. We subsume all the necessities coupled with luxuries for our associations be it schools or institutions. At Reise our endeavor just does not culminates by organizing your trips , rather we are mindful of extending our notable and reliable services round the year spreading cheer.</span>
		</div>
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Organizing Enterprising and Exciting Adventure Activities within the school premises</span>
			<span class="service-description">Adventure surfaces your passion for venturing into abounding activities and set afire your being with insurmountable thrill. Arrangement for adventure infused afternoons at schools includes Valley crossing ,  Flying fox ,Jumaring , Climbing and Repelling. All events will be carried out under the proper and efficient guidance of an expert in order to avoid any casualties and fatalities for our concernment is infallibly bent toward safety and well being of students.</span>
		</div>
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Sorted Expeditions for College Folks</span>
			<span class="service-description">                        We engage in organizing enthralling expeditions for college goers and the spectrum of locales to choose from is appealing indeed. Provision of our exceptional services with top-grade facilities is an exemplar and we assure you of leisure filled and refreshing trips any time and many times.</span>
		</div>
	</div>	
</div>