<div class="services">
	<div class="services-table">
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Service</span>
			<span class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis.</span>
		</div>
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Service</span>
			<span class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis.</span>
		</div>
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Service</span>
			<span class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis.</span>
		</div>
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Service</span>
			<span class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis.</span>
		</div>
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Service</span>
			<span class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis.</span>
		</div>
		<div class="service">
			<span class="service-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
			<span class="service-title">Service</span>
			<span class="service-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis.</span>
		</div>	
	</div>	
</div>