<div class="testimonials">
	<div class="testimonial">
		"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis."
	</div>
	<div class="testimonial">
		"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis."
	</div>
	<div class="testimonial">
		"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis."
	</div>
	<div class="testimonial">
		"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis."
	</div>
	<div class="testimonial">
		"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis."
	</div>
	<div class="testimonial">
		"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis."
	</div>
	<div class="testimonial">
		"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci unde pariatur reiciendis eius iusto, corporis."
	</div>
</div>