
@import url("https://fonts.googleapis.com/css?family=Poppins");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Poppins', sans-serif; }

body {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: url("../img/bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  margin: 0 auto; }

.logo img {
  display: block;
  max-width: 200px;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .logo img {
      max-width: 300px; } }
  @media (min-width: 1024px) {
    .logo img {
      max-width: 400px; } }

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .navbar {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 40px 0; } }
  @media (min-width: 1024px) {
    .navbar {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 40px 0; } }

.navbar-item {
  height: 50px;
  text-align: center;
  background: white; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .navbar-item {
      -webkit-border-radius: 150px;
              border-radius: 150px;
      height: 150px;
      width: 150px; } }
  @media (min-width: 1024px) {
    .navbar-item {
      -webkit-border-radius: 150px;
              border-radius: 150px;
      height: 150px;
      width: 150px; } }

.navbar-item-link {
  height: 150px;
  line-height: 150px;
  text-decoration: none;
  font-weight: bold;
  color: black; }

.footer {
  background-color: #DDD;
  position: relative;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer-heading {
  text-align: center;
  margin: 30px auto 0 auto; }

.footer-info {
  width: 70%;
  margin: 5px auto; }

.footer-info-address {
  margin: 0 auto;
  text-align: center; }

.footer-info-social {
  display: none; }

.footer-form {
  min-width: 240px;
  width: 50vw;
  margin: 50px auto; }

@media (min-width: 1024px) {
  .form-input-table {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: auto;
       -moz-column-gap: auto;
            column-gap: auto; } }

.footer-form-inputs {
  width: 100%;
  position: relative;
  margin: 0 auto 10px auto;
  background-color: white; }
  .footer-form-inputs label {
    font-size: -webkit-calc(12px + 1vw);
    font-size: calc(12px + 1vw);
    position: absolute;
    top: 10px;
    left: -webkit-calc(5px + 1vw);
    left: calc(5px + 1vw); }
    @media (min-width: 1024px) {
      .footer-form-inputs label {
        font-size: -webkit-calc(12px + 0.25vw);
        font-size: calc(12px + 0.25vw); } }
  .footer-form-inputs .footer-form-input {
    background: none;
    display: block;
    width: 100%;
    border: none;
    outline: 0;
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid;
    padding: 15px 5px 5px -webkit-calc(5px + 1vw);
    padding: 15px 5px 5px calc(5px + 1vw);
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s; }
    @media (min-width: 1024px) {
      .footer-form-inputs .footer-form-input {
        padding: 15px 5px 5px -webkit-calc(5px + 0.25vw);
        padding: 15px 5px 5px calc(5px + 0.25vw); } }
    .footer-form-inputs .footer-form-input:valid + label {
      font-size: 10px;
      font-weight: bold;
      top: 1px;
      left: -webkit-calc(5px + 1vw);
      left: calc(5px + 1vw); }
      @media (min-width: 1024px) {
        .footer-form-inputs .footer-form-input:valid + label {
          left: -webkit-calc(5px + 0.25vw);
          left: calc(5px + 0.25vw); } }
    .footer-form-inputs .footer-form-input:focus + label {
      font-size: 10px;
      font-weight: bold;
      top: 1px;
      left: -webkit-calc(5px + 1vw);
      left: calc(5px + 1vw);
      -webkit-transition: 0.15s;
      -o-transition: 0.15s;
      transition: 0.15s; }
      @media (min-width: 1024px) {
        .footer-form-inputs .footer-form-input:focus + label {
          left: -webkit-calc(5px + 0.25vw);
          left: calc(5px + 0.25vw); } }

#footer-form-submit-button {
  color: white;
  background-color: black;
  border: 0;
  padding: 5px;
  width: 100%;
  height: 50px;
  margin: 10px auto;
  display: block;
  font-weight: bold; }

.testimonials {
  width: 70%;
  height: auto;
  margin: 40px auto; }

.testimonial {
  opacity: 0.95;
  padding: 150px;
  background-color: white;
  text-align: center;
  font-style: italic; }

.services {
  opacity: 0.95;
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin: 20px auto; }

.services-table {
  width: 70%;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .services-table {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 30px;
         -moz-column-gap: 30px;
              column-gap: 30px; } }
  @media (min-width: 1024px) {
    .services-table {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3;
      -webkit-column-gap: 20px;
         -moz-column-gap: 20px;
              column-gap: 20px; } }

.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
  text-align: center;
  background: white;
  margin: 0 auto 40px auto;
  max-width: 300px; }

.service-title {
  font-weight: bold; }

.service-description {
  padding: 0 20px;
  text-align: justify;
  font-size: 12px; }

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .hero {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 90%;
      margin: 0 auto; } }
  @media (min-width: 1024px) {
    .hero {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 80%;
      margin: 0 auto; } }

.left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 20px auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .left {
      width: 50%; } }
  @media (min-width: 1024px) {
    .left {
      width: 40%; } }
  .left .binoculars {
    display: block;
    margin: 40px auto;
    color: white;
    font-size: 5em; }
  .left .hero-social-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-top: 5px dashed white;
    border-bottom: 5px dashed white;
    padding: 1px 10px; }
    .left .hero-social-icons .hero-social-icon {
      color: white;
      text-align: center;
      margin: 0 auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 2em; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .left .hero-social-icons .hero-social-icon {
          font-size: 3em; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .left .hero-social-icons .hero-social-icon {
          font-size: 3em; } }
  .left .hero-search-link {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background: turquoise;
    padding: 10px 40px; }

.right {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 90vw;
  border: 5px solid white;
  max-width: 500px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .right {
      max-width: 40vw;
      border-width: 10px; } }
  @media (min-width: 1024px) {
    .right {
      max-width: 40vw;
      border-width: 10px; } }

.right-text {
  color: white;
  font-size: -webkit-calc(20px + 2vw);
  font-size: calc(20px + 2vw);
  line-height: -webkit-calc(24px + 2vw);
  line-height: calc(24px + 2vw);
  margin-bottom: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .right-text {
      font-size: -webkit-calc(25px + 2vw);
      font-size: calc(25px + 2vw);
      line-height: -webkit-calc(24px + 2vw);
      line-height: calc(24px + 2vw); } }
  @media (min-width: 1024px) {
    .right-text {
      font-size: -webkit-calc(23px + 2vw);
      font-size: calc(23px + 2vw);
      line-height: -webkit-calc(24px + 2vw);
      line-height: calc(24px + 2vw); } }
