
@import url("https://fonts.googleapis.com/css?family=Poppins|Spinnaker");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Poppins', sans-serif; }

body {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: url("../img/bg.webp");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: block;
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content {
      width: 90%; } }
  @media (min-width: 1024px) {
    .content {
      width: 70%; } }

.home-main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .home-main-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media (min-width: 1024px) {
    .home-main-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .header .logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
    .header .logo img {
      display: block;
      max-width: 200px;
      margin: 0 auto; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .header .logo img {
          max-width: 300px; } }
      @media (min-width: 1024px) {
        .header .logo img {
          max-width: 300px; } }
  .header .tagline {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    color: #223c3b;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .header .tagline {
        font-size: 25px; } }
    @media (min-width: 1024px) {
      .header .tagline {
        font-size: 25px; } }
  .header .navbar {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .header .navbar {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 30px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .header .navbar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 90%;
        margin: 20px auto 0 auto;
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
            -ms-flex-order: 4;
                order: 4; } }
    @media (min-width: 1024px) {
      .header .navbar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin: 20px auto 0 auto;
        width: 70%;
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
            -ms-flex-order: 4;
                order: 4; } }
    .header .navbar .menu-toggle {
      width: 100%;
      text-align: right; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .header .navbar .menu-toggle {
          display: none; } }
      @media (min-width: 1024px) {
        .header .navbar .menu-toggle {
          display: none; } }
      .header .navbar .menu-toggle #menu-toggle-button,
      .header .navbar .menu-toggle #menu-toggle-button-close {
        color: white;
        background: #009c9e;
        margin: 10px;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        padding: 10px;
        font-size: 1.5em; }
    .header .navbar .nav {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .header .navbar .nav {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end; } }
      @media (min-width: 1024px) {
        .header .navbar .nav {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end; } }
      .header .navbar .nav .navbar-item {
        text-align: center;
        cursor: pointer; }
        @media (max-width: 767px) {
          .header .navbar .nav .navbar-item {
            width: 100%; } }
        @media (min-width: 768px) and (max-width: 1023px) {
          .header .navbar .nav .navbar-item {
            background: none;
            margin: 0 10px; } }
        @media (min-width: 1024px) {
          .header .navbar .nav .navbar-item {
            margin: 0 10px;
            background: none; } }
        .header .navbar .nav .navbar-item .navbar-item-link {
          text-decoration: none;
          font-weight: bold;
          color: white;
          display: block; }
          @media (max-width: 767px) {
            .header .navbar .nav .navbar-item .navbar-item-link {
              background: #009c9e;
              padding: 5px 0;
              width: 40%;
              -webkit-border-radius: 5px;
                      border-radius: 5px;
              margin: 10px auto; } }

.footer {
  background-color: #05668d;
  position: relative;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer .footer-heading {
    text-align: center;
    color: #05668d;
    background-color: #009c9e;
    font-family: 'Spinnaker', sans-serif;
    width: 100%;
    padding: 20px;
    font-size: 20px; }
    @media (min-width: 1024px) {
      .footer .footer-heading {
        font-size: 30px; } }
  .footer .footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 1024px) {
      .footer .footer-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .footer .footer-content .footer-info {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      margin: 10px auto; }
      .footer .footer-content .footer-info .footer-info-contact {
        margin: 20px auto;
        text-align: center;
        color: white;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
      .footer .footer-content .footer-info .footer-info-social {
        display: none; }
    .footer .footer-content .footer-form {
      min-width: 240px;
      width: 50vw;
      margin: 20px auto; }
      @media (min-width: 1024px) {
        .footer .footer-content .footer-form .form-input-table {
          -webkit-column-count: 2;
             -moz-column-count: 2;
                  column-count: 2;
          -webkit-column-gap: auto;
             -moz-column-gap: auto;
                  column-gap: auto; } }
      .footer .footer-content .footer-form .form-input-table .footer-form-inputs {
        width: 100%;
        position: relative;
        margin: 0 auto 10px auto;
        background-color: white; }
        .footer .footer-content .footer-form .form-input-table .footer-form-inputs label {
          font-size: -webkit-calc(12px + 1vw);
          font-size: calc(12px + 1vw);
          position: absolute;
          top: 10px;
          left: -webkit-calc(5px + 1vw);
          left: calc(5px + 1vw); }
          @media (min-width: 1024px) {
            .footer .footer-content .footer-form .form-input-table .footer-form-inputs label {
              font-size: -webkit-calc(12px + 0.25vw);
              font-size: calc(12px + 0.25vw); } }
        .footer .footer-content .footer-form .form-input-table .footer-form-inputs #form-email:invalid + label {
          font-size: 10px;
          font-weight: bold;
          top: 1px;
          left: -webkit-calc(5px + 1vw);
          left: calc(5px + 1vw); }
          @media (min-width: 1024px) {
            .footer .footer-content .footer-form .form-input-table .footer-form-inputs #form-email:invalid + label {
              left: -webkit-calc(5px + 0.25vw);
              left: calc(5px + 0.25vw); } }
        .footer .footer-content .footer-form .form-input-table .footer-form-inputs .footer-form-input {
          background: none;
          display: block;
          width: 100%;
          border: none;
          outline: 0;
          -webkit-column-break-inside: avoid;
             page-break-inside: avoid;
                  break-inside: avoid;
          padding: 15px 5px 5px -webkit-calc(5px + 1vw);
          padding: 15px 5px 5px calc(5px + 1vw);
          -webkit-transition: 0.15s;
          -o-transition: 0.15s;
          transition: 0.15s; }
          @media (min-width: 1024px) {
            .footer .footer-content .footer-form .form-input-table .footer-form-inputs .footer-form-input {
              padding: 15px 5px 5px -webkit-calc(5px + 0.25vw);
              padding: 15px 5px 5px calc(5px + 0.25vw); } }
          .footer .footer-content .footer-form .form-input-table .footer-form-inputs .footer-form-input:valid + label {
            font-size: 10px;
            font-weight: bold;
            top: 1px;
            left: -webkit-calc(5px + 1vw);
            left: calc(5px + 1vw); }
            @media (min-width: 1024px) {
              .footer .footer-content .footer-form .form-input-table .footer-form-inputs .footer-form-input:valid + label {
                left: -webkit-calc(5px + 0.25vw);
                left: calc(5px + 0.25vw); } }
          .footer .footer-content .footer-form .form-input-table .footer-form-inputs .footer-form-input:focus + label {
            font-size: 10px;
            font-weight: bold;
            top: 1px;
            left: -webkit-calc(5px + 1vw);
            left: calc(5px + 1vw);
            -webkit-transition: 0.15s;
            -o-transition: 0.15s;
            transition: 0.15s; }
            @media (min-width: 1024px) {
              .footer .footer-content .footer-form .form-input-table .footer-form-inputs .footer-form-input:focus + label {
                left: -webkit-calc(5px + 0.25vw);
                left: calc(5px + 0.25vw); } }
      .footer .footer-content .footer-form #footer-form-submit-button {
        color: white;
        background-color: #009c9e;
        border: 0;
        padding: 5px;
        width: 100%;
        height: 50px;
        margin: 10px auto;
        display: block;
        font-weight: bold;
        outline: 0;
        cursor: pointer; }

.testimonials {
  width: 70%;
  height: auto;
  margin: 40px auto; }

.testimonial {
  opacity: 0.95;
  padding: 150px;
  background-color: white;
  text-align: center;
  font-style: italic; }

.services {
  opacity: 0.95;
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .services {
      width: 38%;
      margin: 20px 0; } }
  @media (min-width: 1024px) {
    .services {
      width: 38%;
      margin: 20px 0; } }
  .services .services-heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .services .services-heading i {
      border: 5px solid rgba(255, 255, 255, 0.4);
      margin-right: 10px;
      font-size: 2em;
      color: white;
      height: 52px;
      width: 52px;
      padding: 5px; }
    .services .services-heading .services-title {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      text-align: center;
      font-weight: bold;
      color: white;
      font-size: 25px;
      height: 52px;
      line-height: 52px;
      background: rgba(255, 255, 255, 0.4);
      font-size: 18px; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .services .services-heading .services-title {
          font-size: 25px; } }
      @media (min-width: 1024px) {
        .services .services-heading .services-title {
          font-size: 25px; } }
  .services .services-table {
    margin: 10px auto;
    background: #009c9e;
    height: 590px; }
  .services .service {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background: #009c9e;
    margin: auto 0;
    color: white;
    padding: 100px 0 0 0; }
    .services .service .service-icon img {
      display: block;
      margin: 0 auto;
      width: -webkit-calc(10em + 5vw);
      width: calc(10em + 5vw); }
    .services .service .service-title {
      font-weight: bold;
      width: 90%;
      display: block;
      margin: 10px auto; }
    .services .service .service-description {
      display: block;
      margin: 0 auto;
      width: 90%;
      text-align: justify;
      font-size: 14px; }

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .hero {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media (min-width: 1024px) {
    .hero {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .hero .left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 20px auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .hero .left {
        width: 40%;
        margin: 20px auto 20px 0; } }
    @media (min-width: 1024px) {
      .hero .left {
        width: 30%;
        margin: 20px auto 20px 0; } }
    .hero .left .hero-social-icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      border-top: 2px dashed white;
      border-bottom: 2px dashed white;
      padding: 1px 10px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .hero .left .hero-social-icons a {
        color: white;
        font-size: 2em;
        text-align: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .hero .left .hero-social-icons a {
            font-size: 3em; } }
        @media (min-width: 768px) and (max-width: 1023px) {
          .hero .left .hero-social-icons a {
            font-size: 3em; } }
    .hero .left .icon-slider .icon-slide {
      padding: 10px 50px; }
      .hero .left .icon-slider .icon-slide img {
        width: 200px; }
  .hero .right {
    display: block;
    padding: 10px;
    height: 50%;
    border: 5px solid white;
    max-width: 80vw;
    margin: 20px auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .hero .right {
        max-width: 50%;
        border-width: 10px;
        margin: 20px 0 20px auto; } }
    @media (min-width: 1024px) {
      .hero .right {
        max-width: 60%;
        border-width: 10px;
        margin: 20px 0 20px auto; } }
    .hero .right #fontchange {
      font-size: 40px; }
      @media (max-width: 767px) {
        .hero .right #fontchange {
          font-size: -webkit-calc(20px + 2vw);
          font-size: calc(20px + 2vw); } }
    .hero .right .right-text {
      color: white;
      font-size: -webkit-calc(20px + 2vw);
      font-size: calc(20px + 2vw);
      line-height: -webkit-calc(20px + 2vw);
      line-height: calc(20px + 2vw);
      margin-bottom: 20px;
      word-break: normal; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .hero .right .right-text {
          font-size: -webkit-calc(20px + 2vw);
          font-size: calc(20px + 2vw);
          line-height: -webkit-calc(20px + 2vw);
          line-height: calc(20px + 2vw); } }
      @media (min-width: 1024px) {
        .hero .right .right-text {
          font-size: -webkit-calc(20px + 2vw);
          font-size: calc(20px + 2vw);
          line-height: -webkit-calc(20px + 2vw);
          line-height: calc(20px + 2vw); } }

.home-offers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .home-offers {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      margin: 0;
      width: 60%; } }
  @media (min-width: 1024px) {
    .home-offers {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      margin: 0;
      width: 60%; } }
  .home-offers .home-handpicked-offers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 20px auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .home-offers .home-handpicked-offers {
        width: 100%;
        margin: 20px auto; } }
    @media (min-width: 1024px) {
      .home-offers .home-handpicked-offers {
        width: 100%;
        margin: 20px auto; } }
    .home-offers .home-handpicked-offers .home-handpicked-offers-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .home-offers .home-handpicked-offers .home-handpicked-offers-header .handpicked-offers-icon {
        color: white;
        font-size: 2em;
        padding: 5px;
        margin-right: 10px;
        border: 5px solid rgba(255, 255, 255, 0.4); }
      .home-offers .home-handpicked-offers .home-handpicked-offers-header .handpicked-offers-title {
        font-weight: bold;
        font-size: 25px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        text-align: center;
        margin: 0 auto;
        color: white;
        background-color: rgba(255, 255, 255, 0.4);
        height: 52px;
        line-height: 52px;
        font-size: 18px; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .home-offers .home-handpicked-offers .home-handpicked-offers-header .handpicked-offers-title {
            font-size: 25px; } }
        @media (min-width: 1024px) {
          .home-offers .home-handpicked-offers .home-handpicked-offers-header .handpicked-offers-title {
            font-size: 25px; } }
    .home-offers .home-handpicked-offers .home-handpicked-offers-content {
      background-color: rgba(255, 255, 255, 0.8);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 10px 0;
      min-height: 200px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .home-offers .home-handpicked-offers .home-handpicked-offers-content .handpicked-offers-list {
        list-style: none;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        padding: 10px 25px; }
        .home-offers .home-handpicked-offers .home-handpicked-offers-content .handpicked-offers-list .handpicked-offer {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row; }
          .home-offers .home-handpicked-offers .home-handpicked-offers-content .handpicked-offers-list .handpicked-offer i {
            padding: 0 10px;
            color: #008fd3; }
          .home-offers .home-handpicked-offers .home-handpicked-offers-content .handpicked-offers-list .handpicked-offer .handpicked-offer-link {
            display: block;
            text-decoration: none;
            color: #008fd3;
            vertical-align: middle; }
      .home-offers .home-handpicked-offers .home-handpicked-offers-content .handpicked-offers-more {
        padding: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        color: #008fd3; }
        .home-offers .home-handpicked-offers .home-handpicked-offers-content .handpicked-offers-more i {
          font-size: 1.5em; }
        .home-offers .home-handpicked-offers .home-handpicked-offers-content .handpicked-offers-more .handpicked-offers-details {
          margin: auto 5px; }
  .home-offers .home-summer-destinations {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 20px auto; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .home-offers .home-summer-destinations {
        width: 100%;
        margin: 20px auto; } }
    @media (min-width: 1024px) {
      .home-offers .home-summer-destinations {
        width: 100%;
        margin: 20px auto; } }
    .home-offers .home-summer-destinations .home-summer-destinations-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .home-offers .home-summer-destinations .home-summer-destinations-header .summer-destinations-icon {
        color: white;
        font-size: 2em;
        padding: 5px;
        margin-right: 10px;
        border: 5px solid rgba(255, 255, 255, 0.4); }
      .home-offers .home-summer-destinations .home-summer-destinations-header .summer-destinations-title {
        font-weight: bold;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        text-align: center;
        margin: 0 auto;
        color: white;
        background-color: rgba(255, 255, 255, 0.4);
        height: 52px;
        line-height: 52px;
        font-size: 18px; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .home-offers .home-summer-destinations .home-summer-destinations-header .summer-destinations-title {
            font-size: 25px; } }
        @media (min-width: 1024px) {
          .home-offers .home-summer-destinations .home-summer-destinations-header .summer-destinations-title {
            font-size: 25px; } }
    .home-offers .home-summer-destinations .home-summer-destinations-content {
      background-color: rgba(255, 255, 255, 0.8);
      margin: 10px 0; }
      .home-offers .home-summer-destinations .home-summer-destinations-content .summer-destinations-top-four {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2; }
        .home-offers .home-summer-destinations .home-summer-destinations-content .summer-destinations-top-four img {
          position: absolute;
          top: -1px;
          right: 10px;
          width: 50px; }
      .home-offers .home-summer-destinations .home-summer-destinations-content .summer-destinations-list {
        list-style: none;
        padding: 5px; }
        .home-offers .home-summer-destinations .home-summer-destinations-content .summer-destinations-list .summer-destination {
          height: 250px;
          line-height: 250px;
          width: 100%;
          -webkit-background-size: cover;
                  background-size: cover;
          margin: 10px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          .home-offers .home-summer-destinations .home-summer-destinations-content .summer-destinations-list .summer-destination .summer-destination-link {
            text-decoration: none;
            text-align: center;
            font-size: 30px;
            width: 100%;
            color: white; }
      .home-offers .home-summer-destinations .home-summer-destinations-content .summer-destinations-more {
        padding: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        color: #008fd3; }
        .home-offers .home-summer-destinations .home-summer-destinations-content .summer-destinations-more i {
          font-size: 1.5em; }
        .home-offers .home-summer-destinations .home-summer-destinations-content .summer-destinations-more .summer-destinations-details {
          margin: auto 5px; }

.destinations-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px auto; }
  .destinations-heading i {
    border: 10px solid rgba(255, 255, 255, 0.4);
    margin-right: 10px;
    font-size: 2em;
    color: white;
    height: 90px;
    padding: 20px; }
  .destinations-heading .destinations-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 25px;
    height: 90px;
    line-height: 90px;
    background: rgba(255, 255, 255, 0.4); }

.destinations-hero .destinations-hero-image {
  width: 100%;
  display: block;
  margin: 20px auto;
  border: 5px solid white; }

.india-tours {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px auto;
  padding: 20px; }
  .india-tours .india-tours-title {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #223c3b;
    font-size: 25px; }
  .india-tours .india-tours-subtitle {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #223c3b; }

.destinations-categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .destinations-categories {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; } }
  @media (min-width: 1024px) {
    .destinations-categories {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; } }
  .destinations-categories .destination-card {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    padding: 5px 5px 0 5px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    @media (max-width: 767px) {
      .destinations-categories .destination-card {
        width: 100%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .destinations-categories .destination-card {
        width: 45%; } }
    @media (min-width: 1024px) {
      .destinations-categories .destination-card {
        width: 47%; } }
    .destinations-categories .destination-card .destination-card-picture-parent {
      overflow: hidden;
      height: 180px; }
      .destinations-categories .destination-card .destination-card-picture-parent .destination-card-picture {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        padding: 70px 10px;
        -webkit-background-size: cover;
                background-size: cover;
        -webkit-background-clip: padding-box;
                background-clip: padding-box; }
        .destinations-categories .destination-card .destination-card-picture-parent .destination-card-picture:hover, .destinations-categories .destination-card .destination-card-picture-parent .destination-card-picture:focus {
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1); }
        .destinations-categories .destination-card .destination-card-picture-parent .destination-card-picture a {
          color: white;
          text-decoration: none;
          text-transform: capitalize; }
    .destinations-categories .destination-card .destination-card-places .destination-card-places-list {
      list-style: none;
      padding: 5px 0;
      margin: 2px auto; }
      .destinations-categories .destination-card .destination-card-places .destination-card-places-list li {
        display: inline-block;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        background-color: #009c9e;
        padding: 2px 5px;
        color: white;
        margin: 2px auto; }
        .destinations-categories .destination-card .destination-card-places .destination-card-places-list li a {
          color: white;
          text-decoration: none; }

.destination-category-hero {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 200px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border: 5px solid white;
  margin: 20px auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .destination-category-hero {
      min-height: 300px;
      font-size: 35px; } }
  @media (min-width: 1024px) {
    .destination-category-hero {
      min-height: 400px;
      font-size: 35px; } }
  .destination-category-hero .destination-category-hero-title {
    display: block;
    margin: auto;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    text-transform: capitalize; }

.destination-category-tagline {
  display: block;
  background: rgba(255, 255, 255, 0.4);
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold; }

.destination-category-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .destination-category-cards {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  @media (min-width: 1024px) {
    .destination-category-cards {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  .destination-category-cards .destination-category-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    margin: 10px auto;
    width: 100%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .destination-category-cards .destination-category-card {
        margin: 20px auto;
        width: 47%; } }
    @media (min-width: 1024px) {
      .destination-category-cards .destination-category-card {
        margin: 20px auto;
        width: 47%; } }
    .destination-category-cards .destination-category-card .destination-category-card-image {
      width: 100%;
      height: 180px;
      -webkit-background-size: cover;
              background-size: cover; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .destination-category-cards .destination-category-card .destination-category-card-image {
          width: 100%;
          height: 150px;
          margin-right: 20px; } }
      @media (min-width: 1024px) {
        .destination-category-cards .destination-category-card .destination-category-card-image {
          width: 100%;
          height: 200px;
          margin-right: 20px; } }
    .destination-category-cards .destination-category-card .destination-card-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      text-align: center; }
      .destination-category-cards .destination-category-card .destination-card-content .destination-category-card-title {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        margin: 0 auto; }
        .destination-category-cards .destination-category-card .destination-card-content .destination-category-card-title a {
          font-size: 25px;
          color: #008fd3;
          text-decoration: none; }
          @media (min-width: 768px) and (max-width: 1023px) {
            .destination-category-cards .destination-category-card .destination-card-content .destination-category-card-title a {
              font-size: 20px; } }
          @media (min-width: 1024px) {
            .destination-category-cards .destination-category-card .destination-card-content .destination-category-card-title a {
              font-size: 25px; } }

.destination-image {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 200px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border: 10px solid white;
  margin: 20px auto; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .destination-image {
      min-height: 300px;
      font-size: 35px; } }
  @media (min-width: 1024px) {
    .destination-image {
      min-height: 400px;
      font-size: 35px; } }
  .destination-image .destination-title {
    display: block;
    margin: auto;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }

.destination-content {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.8); }
  .destination-content .destination-content-text {
    text-align: justify;
    color: #223c3b; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .destination-content .destination-content-text {
        padding: 0 50px; } }
    @media (min-width: 1024px) {
      .destination-content .destination-content-text {
        padding: 0 50px; } }
  .destination-content .request-quote {
    max-width: 400px;
    width: 80%;
    color: white;
    font-weight: bold;
    background: black;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer; }

.gallery-container {
  width: 100%;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  margin: 20px auto; }
  .gallery-container .gallery-container-heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px auto; }
    .gallery-container .gallery-container-heading i {
      border: 10px solid rgba(255, 255, 255, 0.4);
      margin-right: 10px;
      font-size: 2em;
      color: white;
      height: 90px;
      padding: 20px; }
    .gallery-container .gallery-container-heading .gallery-container-title {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      text-align: center;
      font-weight: bold;
      color: white;
      font-size: 25px;
      height: 90px;
      line-height: 90px;
      background: rgba(255, 255, 255, 0.4); }
  .gallery-container .gallery-container-main {
    width: 100%;
    max-height: 80vh;
    margin: 20px auto; }
    @media (max-width: 767px) {
      .gallery-container .gallery-container-main {
        display: none; } }
    .gallery-container .gallery-container-main .gallery-image {
      overflow: hidden; }
      .gallery-container .gallery-container-main .gallery-image img {
        width: 100%;
        margin: 0 auto;
        max-height: 80vh;
        display: block;
        border: 10px solid white; }
        @media (max-width: 767px) {
          .gallery-container .gallery-container-main .gallery-image img {
            margin: 20px auto; } }
  .gallery-container .gallery-container-nav {
    width: 100%;
    margin: 10px auto; }
    .gallery-container .gallery-container-nav .gallery-nav-image {
      outline: 0; }
      .gallery-container .gallery-container-nav .gallery-nav-image img {
        width: 90%;
        max-height: 15vh;
        margin: 20px;
        display: block; }
        @media (max-width: 767px) {
          .gallery-container .gallery-container-nav .gallery-nav-image img {
            margin: 20px auto; } }

.why-us-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px auto; }
  .why-us-heading i {
    border: 10px solid rgba(255, 255, 255, 0.4);
    margin-right: 10px;
    font-size: 2em;
    color: white;
    height: 90px;
    padding: 20px; }
  .why-us-heading .why-us-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 25px;
    height: 90px;
    line-height: 90px;
    background: rgba(255, 255, 255, 0.4); }

.why-us-text {
  padding: 30px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.8);
  color: #05668d;
  text-align: justify; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .why-us-text {
      font-size: 20px; } }

.why-us-content .why-us-content-title {
  margin: 20px auto;
  font-size: 20px;
  color: white;
  text-align: center;
  border: 10px solid white;
  padding: 20px; }

.why-us-content .why-us-content-blocks {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 1024px) {
    .why-us-content .why-us-content-blocks {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .why-us-content .why-us-content-blocks .why-us-block {
    margin: 10px 0;
    width: 100%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .why-us-content .why-us-content-blocks .why-us-block {
        width: 100%; } }
    @media (min-width: 1024px) {
      .why-us-content .why-us-content-blocks .why-us-block {
        width: 32%; } }
    .why-us-content .why-us-content-blocks .why-us-block .why-us-block-slider {
      width: 100%; }
      .why-us-content .why-us-content-blocks .why-us-block .why-us-block-slider .why-us-block-slide img {
        width: auto;
        height: 300px;
        margin: 0 auto; }
    .why-us-content .why-us-content-blocks .why-us-block .why-us-block-title {
      background: #009c9e;
      color: white;
      font-weight: bold;
      margin: 10px auto;
      padding: 5px 10px;
      text-align: center;
      font-size: 20px; }
      @media (min-width: 1024px) {
        .why-us-content .why-us-content-blocks .why-us-block .why-us-block-title {
          font-size: 15px; } }
