.gallery-container{
	width: 100%;
	box-sizing: padding-box;
	margin: 20px auto;
	.gallery-container-heading{

		display: flex;
		flex-direction: row;
		margin: 10px auto;
		i{
			border: 10px solid $more-transparent-white-bg;		
			margin-right: 10px;
			font-size: 2em;
			color: white;
			height: 90px;
			padding: 20px;
		}
		.gallery-container-title{
			flex: 1 0 auto;
			text-align: center;
			font-weight: bold;
			color: white;
			font-size: 25px;
			height: 90px;
			line-height: 90px;
			background: $more-transparent-white-bg;
		}
	}
	.gallery-container-main{

		width: 100%;
		.gallery-image{
			img{
				width: 100%;
				margin: 0 auto;
				display: block;
				border: 10px solid white;

				@include breakpoint($mobile){
					margin: 20px auto;
				}

			}
		}
	}
}