.header{

	display: flex;
	flex-direction: column;

	
	.logo{
		flex: 1 0 auto;
		order: 2;

		img{
			display: block;
			max-width: 200px;
			margin: 0 auto;


			@include breakpoint($tablet){
				max-width: 300px;
			}

			@include breakpoint($desktop){
				max-width: 300px;
			}
		}


	}

	.tagline{
		order: 3;
		flex: 1 0 auto;
		color: $dark-olive;
		text-align: center;
		margin: 0 auto;
		font-size: 20px;
		font-weight: bold;

		@include breakpoint($tablet){
			font-size: 25px;
		}

		@include breakpoint($desktop){
			font-size: 25px;
		}
	}


	.navbar{
		flex: 1 0 auto;
		
		display: flex;
		flex-direction: column;
		align-items:center;

		@include breakpoint($mobile){
			order: 1;
		}

		@include breakpoint($tablet){
			flex-direction: row;
			justify-content: flex-end;
			width: 90%;
			margin: 20px auto;
			order:4;
		}

		@include breakpoint($desktop){
			flex-direction: row;
			justify-content: flex-end;
			margin: 40px auto;
			width: 70%;	
			order:4;
		}
		.navbar-item{
			text-align: center;
			background: $dark-turquoise;

			


			@include breakpoint($tablet){
				margin: 0 10px;
				background: none;
			}
			@include breakpoint($desktop){
				margin: 0 10px;
				background: none;
			}

			.navbar-item-link{

					text-decoration: none;
					font-weight: bold;
					color: white;

							
				@include breakpoint($tablet){
					color: $dark-turquoise;
					}

				@include breakpoint($desktop){
					color: $dark-turquoise;
					}

				}
			}
	}
}






