.home-offers{
	display: flex;
	flex-direction: column-reverse;
	width: 100%;

	@include breakpoint($tablet){
		flex-direction: row-reverse;	
		margin: 0 auto;
	}

	@include breakpoint($desktop){
		flex-direction: row-reverse;
		margin: 0 auto;
	}

	.home-handpicked-offers{
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 20px auto;

		@include breakpoint($tablet){
			width: 45%;
			margin: 20px auto;
			
		}

		@include breakpoint($desktop){
			max-width: 43%;
			margin: 20px auto;

		}

		.home-handpicked-offers-header{
			display: flex;
			justify-content: space-between;


			.handpicked-offers-icon{
				color: white;
				font-size: 2em;
				padding: 5px;
				margin-right: 10px;
				border: 5px solid $more-transparent-white-bg;
			}

			.handpicked-offers-title{
				font-weight: bold;
				font-size: 18px;
				flex: 1 0 auto;
				text-align: center;
				margin: 0 auto;
				color: white;
				background-color: $more-transparent-white-bg;
			  	height: 52px;
				line-height: 52px;
				box-sizing: border-box;


			}
		}

		.home-handpicked-offers-content{
			background-color: $transparent-white-bg;
			display: flex;
			flex-direction: column;
			margin: 10px 0;
			height: 200px;

			.handpicked-offers-list{
				list-style: none;
				flex: 1 0 auto;
				padding: 10px 25px;

				.handpicked-offer{

					.handpicked-offer-link{
						display: block;
						text-decoration: none;
						color: $spec-blue;
					}
				}
			}

			.handpicked-offers-more{
				padding: 10px;
				display: flex;
				justify-content: flex-end;
				color: $spec-blue;

				i{
					font-size: 1.5em;
				}

				.handpicked-offers-details{
					margin: auto 5px;
				}

			}

		}
	}	

	.home-summer-destinations{
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 20px auto;

		@include breakpoint($tablet){
			width: 45%;
			margin: 20px auto;

		}

		@include breakpoint($desktop){
			width: 55%;
			margin: 20px auto;			
		}

		.home-summer-destinations-header{
			display: flex;
			justify-content: space-between;


			.summer-destinations-icon{
				color: white;
				font-size: 2em;
				padding: 5px;
				margin-right: 10px;
				border: 5px solid $more-transparent-white-bg;
			}

			.summer-destinations-title{
				font-weight: bold;
				font-size: 18px;
				flex: 1 0 auto;
				text-align: center;
				margin: 0 auto;
				color: white;
				background-color: $more-transparent-white-bg;
			  	height: 52px;
				line-height: 52px;
				box-sizing: border-box;


			}
		}

		.home-summer-destinations-content{
			background-color: $transparent-white-bg;
			margin: 10px 0;


			.summer-destinations-top-four{
				position: relative;
				top:0;
				left: 0;
				width: 100%;
				z-index: 2;

				img{
					position: absolute;
					top: -1px;
					right:10px;
					width: 50px;
				}
			}
			
			.summer-destinations-list{
				list-style: none;
				padding: 5px;

				.summer-destination{
					height: 250px;
					line-height: 250px;
					width: 100%;
					background-size: cover;
					margin: 10px;
					display: flex;


					.summer-destination-link{
						text-decoration: none;
						text-align: center;
						font-size: 30px;
						width: 100%;
						color: white;
					}
				}
			}
		
			.summer-destinations-more{
				padding: 10px;
				display: flex;
				justify-content: flex-end;
				color: $spec-blue;

				i{
					font-size: 1.5em;
				}

				.summer-destinations-details{
					margin: auto 5px;
				}

			}

		}
	}	
}