.services{
	opacity: 0.95;
	width: 100%;
	height: auto;
	padding: 20px 0;
	margin: 20px auto;
}
.services-table{
	

	width: 70%;
	margin: 0 auto;

	@include breakpoint($tablet){
		column-count: 2;
		column-gap: 30px;
	}
	@include breakpoint($desktop){
		

		column-count: 3;
		column-gap: 20px;
	}
}
.service{
	display: flex;
	flex-direction: column;
	padding: 40px 0;
	text-align: center;
	background: white;
	margin:0 auto 40px auto; 
	max-width: 300px;

}
.service-title{
	font-weight: bold;
}
.service-description{
	padding:0 20px;
	text-align:justify;
	font-size: 12px;
}