.services{
	opacity: 0.95;
	width: 90%;
	margin: 0 auto;

	@include breakpoint($tablet){
		width: 38%;
		margin: 20px 0;
	}
	
	@include breakpoint($desktop){
		width: 38%;
		margin: 20px 0;
	}

	.services-heading{

		display: flex;
		flex-direction: row;
		
		i{
			border: 5px solid $more-transparent-white-bg;		
			margin-right: 10px;
			font-size: 2em;
			color: white;
			height: 52px;
			width: 52px;
			padding: 5px;
		}
		.services-title{
			flex: 1 0 auto;
			text-align: center;
			font-weight: bold;
			color: white;
			font-size: 25px;
			height: 52px;
			line-height: 52px;
			background: $more-transparent-white-bg;
			font-size: 18px;

			@include breakpoint($tablet){
				font-size: 25px;
			}
			
			@include breakpoint($desktop){
				font-size: 25px;
			}			
		}
	}

	.services-table{
		

		margin: 10px auto;
		background: $dark-turquoise;
		height: 590px;

	}
	.service{
		display: flex;
		width: 100%;
		flex-direction: column;
		text-align: center;
		background: $dark-turquoise;
		margin: auto 0;
		color: white;
		padding: 100px 0 0 0;

		.service-icon{
			img{
				display: block;
				margin: 0 auto;
				width: calc(10em + 5vw);
			}
		}
		.service-title{
			font-weight: bold;
			width: 90%;
			display: block;
			margin: 10px auto;	
		}
		.service-description{
			display: block;
			margin:0 auto;
			width:90%;
			text-align:justify;
			font-size: 14px;
		}

	}


}