@import "guff";

$debug: false;
// $debug: true;
$breakpoint-mobile: 800px;


@if $debug {
	* {
	
		border: 0.25px solid black;
	}
}


html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
	font-family: 'Poppins', sans-serif;

}



@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "partials/base";
@import "partials/header";
@import "partials/footer";
@import "partials/testimonials";
@import "partials/services";

