@import "guff";


$dark-turquoise: rgb(0,156,158);
$dark-olive: rgba(34, 60, 59, 1);	
$spec-blue: rgba(0, 143, 211, 1);
$transparent-white-bg: rgba(255,255,255, 0.7);


$debug: false;
// $debug: true;


@if $debug {
	* {
	
		border: 0.25px solid black;
	}
}


html {
  box-sizing: border-box;

}
* {
  box-sizing: inherit;
	font-family: 'Poppins', sans-serif;

}



@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "partials/base";
@import "partials/header";
@import "partials/footer";
@import "partials/testimonials";
@import "partials/services";
@import "partials/hero";
@import "partials/home_offers";
@import "partials/destinations_home";

